#resetButton {
    width: 100px;
    height: 100px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
}

#headerText {
    height: 150px;
    overflow: scroll;
    color: gray;
}

#helperText {
    color:#7ADCFA;
}

#nextButton {
    background-color: #7ADCFA;
    border: .5px solid black;
    color: white;
}